---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import PokemonBotEmailList from '~/components/widgets/PokemonBotEmailList.astro';

const metadata = {
    title: 'Join the Waitlist',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Pokemon Center Alert Tool"
    title="Never Miss Out on Pokemon Products Again!"
    subtitle="Join the waitlist for my exclusive Pokemon Center alert tool that gives you instant updates to Pokemon Center releases. Increase your chances of securing the latest drops!"
  />


  <!-- Contact Form ******************* -->

  
  <PokemonBotEmailList>
    <Fragment slot="title">
      Get Early Access to the Ultimate<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Pokemon Center Alert Tool!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be the first to use our powerful alert and checkout tool. Sign up below to secure your spot on the waitlist! ⚡
    </Fragment>
  </PokemonBotEmailList>
  <!-- Features2 Widget ************** -->

  <Features2
  title="Why Join the Waitlist?"
  items={[
      {
        title: 'Instant Stock Alerts',
        description: `Get real-time notifications when new Pokemon Center products go live, so you can act fast before they sell out.`,
      },
      {
        title: 'Exclusive Access',
        description:
          'Members of our waitlist will get priority access to beta testing and special updates on the tools features.',
      },
      {
        title: 'Stay Ahead of the Game',
        description: 'Never miss a Pokemon Center restock again. Be the first to know and the first to buy!',
        icon: 'tabler:bell',
      },
    ]}
  />
</Layout>
