---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
    title: 'TCG Watch - Pokemon TCG Price Alerts',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <Hero
  image={`
    <img
      src="https://s7ub4m8kg7.ufs.sh/f/vSQesHp5YCfTAFUgP9aUbo0h6lMKmiSyEQqsjwdVvXcrN8Ot"
      alt="TCG Spike Dashboard"
      width="auto"
      height="auto"
      style="
        object-fit: cover;
        border-radius: 8px;
        border: 2px solid #00d1b2;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      "
    />
  `}
  actions={[
    {
      variant: 'tcgspike',
      text: 'TCG Spike',
      href: 'https://www.tcgspike.com/',
      target: '_blank',
    }
  ]}
>
<Fragment slot="title">
  TCG Spike is Now Live!
</Fragment>

<Fragment slot="subtitle">
  <span class="hidden sm:inline">
    Get real-time alerts on Pokemon market trends. Maximize your profits with price spike and drop notifications.
    </span>
</Fragment>
</Hero>
  <!-- Features2 Widget ************** -->


  <Features2
  title="Why Use TCG Watch?"
  items={[
      {
        title: 'Price Spike Alerts',
        description: `Get notified instantly when a Pokemon TCG product spikes in price, so you can adjust your eBay listings and maximize profits.`,
      },
      {
        title: 'Buy Low Opportunities',
        description:
          'Receive alerts when a card drops significantly in price, allowing you to scoop up undervalued products before the market corrects.',
      },
      {
        title: 'Stay Ahead of Market Trends',
        description: 'Monitor the TCGPlayer market with ease and never get caught off guard by sudden buyouts or price crashes.',
      },
    ]}
  />
</Layout>