---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src="https://s7ub4m8kg7.ufs.sh/f/vSQesHp5YCfTPsGtfj47fyg2cLdoq4EjuOY3ACsHn0lK6FTr" alt="Logo" class="inline-block w-12 h-12 mr-2" />
</span>
