---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8827287583611013"
    crossorigin="anonymous"></script>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </head>
  
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>

  <main>
    <slot />
  </main>

  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
